body{
    background: linear-gradient(to right, #667eea, #764ba2);
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    background: white;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    width: 350px;
}

button{
    padding: 10px 20px;
    background: purple;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}